<div *ngIf="employee!=null">

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                        <th>Skill Type</th>
                        <th>Name</th>
                        <th>Rating</th>
                </thead>


                <tbody  *ngFor="let stype of stypes">
                    <tr>
                        <th>{{ stype }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr style="border-top: 1px solid #cccccc" *ngFor="let skill of skills;let i= index">
                            <td *ngIf="skill.skillType === stype"></td>
                            <td *ngIf="skill.skillType === stype">{{ skill.name}}</td>
                            <td *ngIf="skill.skillType === stype">{{ skills[i].rating }}</td>
                    </tr>
                    <br>
                </tbody>
                
            </table> 

            <div class="btn-group">
                <button 
                    class="btn btn-success" 
                    type="button"
                    (click)="validate(2)">Validate</button>
                <button 
                    class="btn btn-danger" 
                    type="button"
                    (click)="validate(0)">Invalidate</button>
            </div>

            <div *ngIf="status">Status Updated</div>
        </div>
    </div>
</div>
